body{
    height: 100vh;
    margin: 0;
}

.box{
  height: 100%; 
  width:100%;
  background-image: url(http://source.unsplash.com/random);
  background-repeat: no-repeat;
  
}

.box::after {
    content:"Aqui vem uma mensagem";
    color: white;
}